{% extends 'base/base.html' %}
{% block page_content %}
<body>

    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <img class="game-img"
                     src="{{ image_url }}"
                     alt='game image'/>
                <h1>{{ game.title }} <span class="levels">Rating: {{ game.avg_rating }}</span></h1>
                <p><span class="type">Category: {{ game.category }}</span></p>
                <p><span class="type">Max Level: {{ game.level }}</span></p>
            </div>
            {% if game.summary %}
                <p class="text">
                    {{ game.summary }}
                </p>
            {% endif %}

{#          TODO: check the PK corellation #}
            <div class="buttons">
                <a href="{% url 'edit game' pk=pk %}" class="button">Edit</a>
                <a href="{% url 'delete game' pk=pk %}" class="button">Delete</a>
            </div>
        </div>
    </section>

</body>
{% endblock %}
